.card {
	color: #141C31;
	padding: 16px;
	text-align: center;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
		width: 400px;
		justify-self: center;
		margin-top: 25px;
		margin-bottom: 25px;
}

.cards h2 {
	text-align: center;
	color: #b71b53;
}





.card img {
	width: 400px;
}




.cards {
	display: grid ;
	grid-template-columns: 1fr;
	grid-gap: 16px;
}











@media (min-width: 576px) {
	.cards {
		grid-template-columns: 1fr;
	}

}

@media (min-width: 768px) {
	.cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 992px) {
		.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}

}


