.footer {
   display: grid ;
   grid-template-columns: 1fr 1fr;
   grid-gap: 16px;
   margin-top: 56px;
   background-color: #b71b53;
   padding: 16px;
}





.footer-carte {
   text-align: left;
      width: 600px;
      justify-self: center;
   }



   .footer img {
   border: black 1px;
   width: 400px;
}