#programmes{
   margin-top: 56px;
}


.programmebis {
   display: grid ;
   grid-template-columns: 1fr;
   grid-gap: 16px;
   text-align: center;
}


.pge {
   background-color: #b71b53;
   border-color: #7fc9ff;
    transition: 1.0s;
    font-size: 35px;
    width: 666px;
    display: block;
    color: white;

}




.pge:hover {
   background-color: #8a0b38;
}

h3{
   font-size: 30px;
   color: white;
   background-color: #141C31;

}



p{
   color: white;
   font-size: 30px;
}

h2{
   color: white;
   font-size: 35px;
}



@media (min-width: 576px) {
   .programmebis {
      grid-template-columns: 1fr;
   }

}

@media (min-width: 768px) {
   .programmebis {
      grid-template-columns: 1fr;
   }
}

@media (min-width: 992px) {
      .programmebis {
      grid-template-columns: 1fr 1fr;
   }

}






