#temoignage{
	background-color: #141C31;
	color: white;
	text-align: center;
margin-top: 16px;
padding: 16px;
}




.temoignagebis
{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    min-width: 200px;
}


#temoignage img
{
   width: 525px;
   height: 525px;
   border-radius: 5px;
}


.texte
{
   padding: 10px;
   margin: 10px auto;
   width: 49%;
   border-radius: 5px;

   color: white;
   font-size: 20px;
   min-width: 400px;
}

.image
{
   width: 40%;
   margin: 10px auto;
   text-align: center;
   border-radius: 5px;
    min-width: 400px;
}




p{
   font-size: 30px;
}



